*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 111, 111);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

#world {
  height: auto;
  width: 500px;

  margin: 15px 0;
}
