*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(85, 111, 111);
}

#header {
  margin-top: 20px;
  color: rgb(206, 202, 148);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

#world {
  height: auto;
  width: 500px;

  margin: 15px 0;
}

/* #day,
#month {
  text-align: center;
  width: 100px;
} */

#submit-button {
  color: rgb(0, 0, 0);
}
